body {
  background-color: #f79fff;
  color: #fa3f96;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh; /* viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: hello;
  src: url(../public/HelloHoneyPersonalUse-2OEo8.otf);
}

@font-face {
  font-family: hands;
  src: url(../public/HandScript-gxen4.otf);
}

@font-face {
  font-family: home;
  src: url(../public/HomeKitchenScript-GOWKq.ttf);
}

@font-face {
  font-family: avoc;
  src: url(../public/AvocadoCreamy-jEVLO.otf);
}

h1 {
  font-family: hello, sans-serif;
  font-size: 100px;
  /* color: #f0ebeb margin 5px; */
  padding: 5px;
  background: #74747400;
  line-height: 1.6em;
  text-align: center;
  /* font-size: 20px; */
  letter-spacing: 2px;
}

h2 {
  font-family: avoc, sans-serif;
  font-size: 35px;
  color: #f0ebeb margin 5px;
  padding: 5px;
  background: #74747400;
  line-height: 1.6em;
  text-align: center;
  /* font-size: 20px; */
  letter-spacing: 2px;
}

h3 {
  font-family: avoc, sans-serif;
  font-size: 35px;
  /* color: #f0ebeb margin 5px; */
  padding: 5px;
  background: #74747400;
  line-height: 1.6em;
  text-align: center;
  /* font-size: 20px; */
  letter-spacing: 2px;
}
